OPENAI_API_KEY=  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
EXA_API_KEY= 6e809f2a-50c8-4c40-aba4-15f727898946
PINECONE_API_KEY= pcsk_6gpnWr_KrtF2SmyB591edUosJZbqdxecUisacRYYiUwDANw8dqzr8EAnqCsrUd1afs7yR3
